<footer class="border-top py-3 bg-body-tertiary">
  <div class="footer-social">
    <a href="https://github.com/arbabhassan1/">
      <i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.instagram.com/_arbabhassan/">
      <i class="fa-brands fa-square-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/arbabhassan1/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <div class="footer-info">© TravelNest Private Limited</div>
  <div class="footer-links">
    <a href="/">Privacy Policy</a>
    <a href="/">Terms & Conditions</a>
  </div>
  <div>
    This <span>MERN</span> Project by
    <a href="https://arbabhassan.bio.link" class="link">Arbab Hassan</a>
  </div>
</footer>
