<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>

    <a href="/" class="d-md-none logo"> <h1>TravelNest</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <% if(currUser) {%>
        <a class="nav-link" href="/listings/new">Add new Listing</a> <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-box"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto btn-space">
        <% if(!currUser) {%>
        <a class="nav-link user-btn" href="/signup"><b>SignUp</b></a>
        <a class="nav-link user-btn" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser) {%>
        <a class="btn btn-outline-dark" href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
