<% layout('/layouts/boilerplate') %>
<div class="row p-4">
  <div
    class="alert alert-danger d-flex align-items-center col-md-6 offset-md-3 mb-5"
    role="alert"
  >
    <i class="fa-solid fa-triangle-exclamation error"></i>
    <div><%= message%></div>
  </div>
  <a href="/" class="btn btn-success col-md-4 offset-md-4">Back to Home</a>
</div>
