:root {
  --mainColor: #1e90ff;

  --white: #ffffff;
}
body {
  font-family: Poppins;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  font-size: 2rem;
  color: var(--mainColor);
}
.nav-link {
  color: #222222 !important;
}
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.2rem;
}
.footer-social a {
  cursor: pointer;
  color: #222222;
  font-size: 1.5rem;
}
.footer-social a:hover {
  color: var(--mainColor);
}

.footer-info {
  font-size: 1rem;
  font-weight: 500;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
}
.footer-links a {
  text-decoration: none;
  color: #222222;
  font-size: 1rem;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-body {
  padding: 0 !important;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-text p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}

.card-img-overlay:hover {
  background-color: rgba(255, 255, 255, 0.349) !important;
}

.card-img-overlay .fa-magnifying-glass {
  display: none; /* Hide the icon by default */
}
.card-img-overlay:hover .fa-magnifying-glass {
  display: block;
}

.card-img-overlay .listing-view-link {
  display: none; /* Hide the icon by default */
}
.card-img-overlay:hover .listing-view-link {
  display: block;
}
.fa-magnifying-glass {
  font-size: 2.5rem;
  color: var(--mainColor);
}

.card-img-overlay .listing-view-link {
  color: var(--mainColor);
  text-decoration: underline;
}

.add-btn {
  background-color: var(--mainColor) !important;
  border: none !important;
}
.add-btn:hover {
  background-color: #0b74dd !important;
}

/* Update  */

.update-btn {
  background-color: var(--mainColor) !important;
  border: none !important;
}
.update-btn:hover {
  background-color: #0b74dd !important;
}

/* Show Route */
.btns-div {
  display: flex;
}
.show-img {
  height: 30vh;
  object-fit: cover;
}

/* Error */

.error {
  font-size: 1.7rem;
  margin-right: 1rem;
}

.btn-link {
  text-decoration: none;
}
.container-fluid {
  background-color: white !important;
}

span {
  font-weight: 600;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

.review-card {
  border: 1px solid #222222 !important;
  margin-bottom: 1.2rem;
  padding: 0.5rem 1rem;
}

/* USER SIGNUP FORM */

#validationCustomUsername {
  text-transform: lowercase !important;
}

.filters {
  padding: 18px 0.9rem 10px 0.9rem;
  display: flex;
  justify-content: start;
  align-items: center !important;
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
}
.filters::-webkit-scrollbar {
  display: none !important;
}
/* Filters */

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  color: #525252;
  transition: 0.05s ease;
}
.filter:hover {
  color: #0b74dd;
  transform: scale(1.09);
}

/* SEARCH BAR */

.btn-search {
  background-color: var(--mainColor) !important;
  color: white !important;
  border-radius: 30px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0.2rem 1.4rem !important;
}
.btn-search > i {
  color: white !important;
  font-size: 1rem;
}
.search-box {
  border-radius: 30px !important;

  width: 25rem !important;
}

@media screen and (max-width: 780px) {
  .search-box {
    width: 20rem !important;
  }
}
@media screen and (max-width: 500px) {
  .search-box {
    width: 14rem !important;
  }
}

/* navbar logout btn space */

@media screen and (max-width: 760px) {
  .btn-space {
    padding: 20px 0;
  }
}

.logo {
  text-decoration: none !important;
  color: #222222 !important;
  font-weight: 700 !important;
}

.logo a {
  font-weight: 700 !important;
}
