<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form
      action="/login"
      method="post"
      class="my-4 needs-validation"
      novalidate
    >
      <h1 class="mb-4 h2">Login</h1>

      <div class="mb-3">
        <label for="validationCustomUsername" class="form-label"
          >Username</label
        >
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input
            type="text"
            class="form-control"
            id="validationCustomUsername"
            name="username"
            placeholder="some-username"
            aria-describedby="inputGroupPrepend"
            required
          />
          <div class="invalid-feedback">Please choose a username.</div>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="Password"
          placeholder="Enter Password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please add Password.</div>
      </div>

      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
</div>
